*{
    margin: 0;
    padding: 0;
}
.img-logo{
    height: 35px;
    width: auto;
}

@media (max-width: 768px) {
    .img-logo{
        height: 30px;
    }
    .imagen-uno{
        padding: 20px 0px;
    }
    .tam-likes{
        width: 90%;
    }
}